<%- include("../partials/header") %>

<form method="POST" action="/recipes/<%=campgroundId%>/comments/<%=comment.id%>?_method=PUT">
    <textarea class="form-control col-7 mt-5" type="text" name="text" rows="3"><%=comment.text%></textarea>
    <button>Edit comment</button>
</form>

<%- include("../partials/footer") %>