<%- include("partials/header") %>

<h1>This is the show page</h1>
<h1><%= recipe.name %></h1>


<a class="btn btn-primary" href="/recipes/<%=recipe.id%>/edit">EDIT RECIPE</a>

<form method="POST" action="/recipes/<%=recipe.id%>?_method=DELETE">
    <button class="btn btn-outline-warning">Delete recipe</button>
</form>

<h2>THESE ARE THE COMMENTS FROM RECIPE</h2>
<% recipe.comments.forEach(function(comment){ %>
    <h5><%= comment.text %></h5>
<% }); %>




<%- include("partials/footer") %>